html,
body {
  padding: 0;
  margin: 0;
  font-family: "CaviarDreams";
  color: white;
  background-color: black;
}

@font-face {
	font-family: "CaviarDreams";
	src: url("/fonts/CaviarDreams.ttf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "CaviarDreams";
	src: url("/fonts/CaviarDreams_Bold.ttf");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Empires";
	src: url("/fonts/Empires.otf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

h1 {
	font-family: "Empires";
	font-size: 70px;
	font-weight: 400;
	margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button { 
	font-family: "CaviarDreams";
	font-weight: 600;
	border: 0;
	cursor: pointer;
	&:focus { 
		outline: none;
	}
}

canvas {
  position: absolute;

  width: 100vw;
  height: 100vh;

  top: 0;
}

p, h1 {
  pointer-events: none;
  z-index: 10;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}



$img_w: 200px; 
$img_c: 35; 
$img_br: 5px;
.section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
	position: relative;
	min-width: 35vw;
	.img {
		position: absolute;
		width: $img_w;
    	transform: scale3d(.5,.5,1);
		border-radius: $img_br;
		animation: mbt 3s 0s linear infinite both;
		opacity: .5;
		transition: .3s ease;
		font-size: 0;
		h4 {
			position: absolute;
			left: 0;
			top: -45px;
			width: 100%;
			line-height: 25px;
			height: 25px;
			opacity: 0;
			background-color: rgba(0,0,0,.7);
			color: #fff;
			font-size: 12px;
			border-radius: 40px;
      		text-align: center;
		}
		img { 
			width: 100%;
			transition: .3s ease;
			border-radius: $img_br;
		}
		&:hover {
			opacity: 1;
			animation-play-state: paused; 
			z-index: 1; 
			transform: scale3d(1,1,1);
			h4 {
				opacity: 1;
			}
			img {
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .25);
			}
		}
	}

  
	@for $i from 1 through $img_c {
		.img:nth-child(#{$i}) {
			left: calc( ( #{$i} - 1 ) * ( 100% - #{$img_w} ) / (#{$img_c - 8} - 1) ) 
		}
	}
	.img:nth-child(1) {
		animation-delay: -1s;
		animation-duration: calc( 12.5s + 12.5s );
	}
	.img:nth-child(2) {
		animation-delay: -2s;
		animation-duration: calc( 4.5s + 12.5s );
	}
	.img:nth-child(3) {
		animation-delay: -3s;
		animation-duration: calc( 8.5s + 12.5s );
	}
	.img:nth-child(4) {
		animation-delay: -15s;
		animation-duration: calc( 3.5s + 12.5s );
	}
	.img:nth-child(5) {
		animation-delay: -5s;
		animation-duration: calc( 5.5s + 12.5s );
	}
	.img:nth-child(6) {
		animation-delay: -6s;
		animation-duration: calc( 7.5s + 12.5s );
	}
	.img:nth-child(7) {
		animation-delay: -13s;
		animation-duration: calc( 1.5s + 12.5s );
	}
	.img:nth-child(8) {
		animation-delay: -8s;
		animation-duration: calc( 4.5s + 12.5s );
	}
	.img:nth-child(9) {
		animation-delay: -9s;
		animation-duration: calc( 8.5s + 12.5s );
	}
	.img:nth-child(10) {
		animation-delay: -10s;
		animation-duration: calc( 5.1s + 12.5s );
	}
	.img:nth-child(11) {
		animation-delay: -11s;
		animation-duration: calc( 2.6s + 12.5s );
	}
	.img:nth-child(12) {
		animation-delay: -1s;
		animation-duration: calc( 5.8s + 12.5s );
	}
	.img:nth-child(13) {
		animation-delay: -14s;
		animation-duration: calc( 8.5s + 12.5s );
	}
	.img:nth-child(14) {
		animation-delay: -3s;
		animation-duration: calc( 5.5s + 12.5s );
	}
	.img:nth-child(15) {
		animation-delay: -4s;
		animation-duration: calc( 5.5s + 12.5s );
	}
	.img:nth-child(16) {
		animation-delay: -5s;
		animation-duration: calc( 2.8s + 12.5s );
	}
	.img:nth-child(17) {
		animation-delay: -12s;
		animation-duration: calc( 2.1s + 12.5s );
	}
	.img:nth-child(18) {
		animation-delay: -7s;
		animation-duration: calc( 3.2s + 12.5s );
	}
	.img:nth-child(19) {
		animation-delay: -8s;
		animation-duration: calc( 2.5s + 12.5s );
	}
	.img:nth-child(20) {
		animation-delay: -16s;
		animation-duration: calc( 5.5s + 12.5s );
	}
	.img:nth-child(21) {
		animation-delay: -10s;
		animation-duration: calc( 4.5s + 12.5s );
	}
	.img:nth-child(22) {
		animation-delay: -1s;
		animation-duration: calc( 2.5s + 12.5s );
	}
	.img:nth-child(23) {
		animation-delay: -2s;
		animation-duration: calc( 5.5s + 12.5s );
	}
	.img:nth-child(24) {
		animation-delay: -17s;
		animation-duration: calc( 8.5s + 12.5s );
	}
	.img:nth-child(25) {
		animation-delay: -4s;
		animation-duration: calc( 8.5s + 12.5s );
	}
	.img:nth-child(26) {
		animation-delay: -5s;
		animation-duration: calc( 2.4s + 12.5s );
	}
	.img:nth-child(27) {
		animation-delay: -6s;
		animation-duration: calc( 6.4s + 12.5s );
	}
	.img:nth-child(28) {
		animation-delay: -7s;
		animation-duration: calc( 2.3s + 12.5s );
	}
	.img:nth-child(29) {
		animation-delay: -8s;
		animation-duration: calc( 1.5s + 12.5s );
	}
	.img:nth-child(30) {
		animation-delay: -14s;
		animation-duration: calc( 5.5s + 12.5s );
	}
	.img:nth-child(31) {
		animation-delay: -10s;
		animation-duration: calc( 2.5s + 12.5s );
	}
	.img:nth-child(32) {
		animation-delay: -11s;
		animation-duration: calc( 8.3s + 12.5s );
	}
	.img:nth-child(33) {
		animation-delay: -13s;
		animation-duration: calc( 2.8s + 12.5s );
	}
	.img:nth-child(34) {
		animation-delay: -2s;
		animation-duration: calc( 12.5s + 12.5s );
	}
	.img:nth-child(35) {
		animation-delay: -3s;
		animation-duration: calc( 2.5s + 12.5s );
	}
	.img:nth-child(36) {
		animation-delay: -4s;
		animation-duration: calc( 4.5s + 12.5s );
	}
	.img:nth-child(37) {
		animation-delay: -5s;
		animation-duration: calc( 2.5s + 12.5s );
	}
	.img:nth-child(38) {
		animation-delay: -16s;
		animation-duration: calc( 2.5s + 12.5s );
	}
	.img:nth-child(39) {
		animation-delay: -7s;
		animation-duration: calc( 2.5s + 12.5s );
	}
	.img:nth-child(40) {
		animation-delay: -8s;
		animation-duration: calc( 2.9s + 12.5s );
	}
}

$white: rgba(255,255,255,0.3);

.particle {
  background: $white;
  backdrop-filter: blur(5px);
  border-radius: $img_br;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
	transition: all 0.2s ease;
	opacity: 1 !important;
	pointer-events: all;
}




.slider__container {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 50%;
	margin-bottom: 150px;
	top: -40vh;
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .slide__container {
    z-index: 2;
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;

    .slide {
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%, 50%);
      transition: all 0.5s ease-in-out;
	  z-index: 10;
    }
    &.slide--active {
      .slide {
        width: 150px;
        height: 150px;
      }
    }
  }
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    background: white;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    margin-top: -8px;
	cursor: pointer;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}


@keyframes mbt {
	0%  { transform: translateY(100vh); }
	100%{ transform: translateY(-100vh);  }
}



@keyframes mbt1 {
	0%  { transform: translateY(0); }
	100%{ transform: translateY(-100vh);  }
}


.masonry-container {
	width: 80%;
	margin: auto;
}

.masonry {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: stretch;
	width: 100%;
	margin: auto;
}



.column:nth-child(1)  {
	animation-duration: calc( 12.5s + 12.5s );
}
.column:nth-child(2) {
	animation-duration: calc( 4.5s + 12.5s );
}
.column:nth-child(3) {
	animation-duration: calc( 8.5s + 12.5s );
}
.column:nth-child(4) {
	animation-duration: calc( 2.5s + 12.5s );
}



.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: stretch;
	flex-grow: 1;
	justify-content: space-around;
	height: 200vh;
	z-index: 1;
	animation: mbt1 20s linear infinite;
}

.tile {
	margin: 4px;
}

.column div:hover {
	transform: scale(1.05);
	cursor: pointer;

  }

.column div { 
	transition: transform .3s;
	height: 100%;
	width: 100%;
	margin: 5px 0;
	box-shadow: 0 1px 1px 2px rgba(0,0,0, .15);
}

.column {  
    pointer-events: none;
	margin: 0 5px;
}

.column div {
    pointer-events: auto;
}

.column ~ div:hover {
    animation-play-state: paused;
	z-index: 5;
}   

#vinyl {
	z-index: 1;
	display: block;
	background-image: url('https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Music-PNG/Gramophone_Vinyl_LP_Record_PNG_Transparent_Clip_Art_Image.png?m=1462983196');
	background-size: 106% 106%;
	background-position: center;
	box-shadow: 0 0 20px 4px rgba(0,0,0,0.6);
	border-radius: 50%;
	content: '';
	animation: 5s linear spinThat infinite, 1s ease-out getOut 1s forwards;
	&::before {
		position: absolute;
		top: 2.5%;
		left: 2.5%;
		z-index: 10;
		width: 95%;
		height: 95%;
		background-image: url('http://www.designresourcebox.com/ths/diverse/blacktextures/82267467.jpg');
		background-size: 100% 100%;
		border-radius: 50%;
		mix-blend-mode: screen;
		opacity: 0.3;
		content: '';
	}
	#print {
		position: absolute;
		top: 33%;
		left: 33%;
		height: 34%;
		width: 34%;
		box-shadow: inset 0 0 0 5px rgba(150,150,150,0.5);
		background-image: url('http://assets.teamrock.com/image/14d29742-c6f7-43f6-bbe1-6bf7b3b34c6f?w=800');
background-size: cover;
		border-radius: 50%;
	}
}



$baseline: 1.5rem;

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.player {
  background: rgba(209, 55, 65, 1.0) url(http://piers.io/codepen/music-player/bg.jpg) fixed center / cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.player__title {
  font-size: 2em;
  color: white;
  margin-bottom: $baseline * 5;
}

.player__wave {
  position: absolute;
  top: calc(50% + #{$baseline * 2.5});
  left: 0;
  transform: translateY(-50%);
}

.player__items {
  max-width: 73.75rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.audio-bubble {
  width: 15%;
  margin: 0;
  min-width: 8rem;
}

.audio-bubble__button {
  .audio-bubble--active & {
    transform: scale(2);
  }
  // .audio-bubble:not(.audio-bubble--active) &:hover {
  //   transform: scale(1.05);
  // }
}

$font: "Work Sans", sans-serif;
$bg: darkseagreen;
$margin: 4%;
$duration: 2s;


$vinyl: 100%;
$inner: $vinyl / 3;
$label: $vinyl / 1.5;
$title: $vinyl / 1.5;
$hole: $vinyl / 10;
@mixin circle { border-radius: 50%; }
#vinyl,
#inner,
#label,
#hole { @include circle; }

#vinyl { 
	position: absolute;
	display: block;
	margin: 0 auto;
	// width: $vinyl;
	// height: $vinyl;
	border: 5px solid black;
  background: repeating-radial-gradient(
  	circle,
  	lighten(black, 10%),
  	lighten(black, 10%) 1px,
  	black 1px, 
  	black 4px
	); }

	#inner {
		position: absolute;
		top: (100% - $inner) / 2;
		left: (100% - $inner) / 2;
		width: $inner;
		height: $inner;
		background: black; }
	
	#label {
		position: relative;
		top: (100% - $label) / 2;
		left: (100% - $label) / 2;
		width: $label;
		height: $label;
		padding: 0.5rem;
		background: tomato; 
		color: white; 
		text-align: center; }
	
	#hole {
		position: relative;
		top: (100% - $hole) / 2;
		left: (100% - $hole) / 2;
		width: $hole;
		height: $hole;
		background: $bg; 
		z-index: 100; }

.audio-bubble__button {
  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: black;
  border-radius: 50%;
  cursor: pointer;
  outline: 0;
  border-radius: 50%;
  padding: 0;
  padding: 0;
  position: relative;
  margin-bottom: $baseline;
}

.audio-bubble__image {
  border-radius: 50%;
  transition: opacity .4s ease;
  .audio-bubble:not(.audio-bubble--active):hover & {
    opacity: .75;
  }
}

.audio-bubble__meta {
  color: white;
  text-align: center;
  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  .audio-bubble--active & {
    transform: translateY($baseline * 3);
  }
}

.audio-bubble__progress {
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  transform: rotate(-90deg);
  circle {
    stroke: rgba(250, 210, 88, 1.0);
    stroke-dasharray: 608;
  }
  .audio-bubble:not(.audio-bubble--active) & {
    opacity: 0;
  }
}

.audio-bubble__play,
.audio-bubble__pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.audio-bubble__play {
  width: 17.5%;
}

.audio-bubble__pause {
  width: 12%;
}

.audio-bubble__title {
  font-weight: bold;
  margin-bottom: $baseline/4;
}

.audio-bubble__subtitle {
  font-size: .875em;
}