.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  background: black;
}

.footer {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 0 40px;
  z-index: 20;
  img { 
    max-height: 12px;
    margin-right: 50px;
  }
}


.title {
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 14px;
  }
}

.title,
.description {
  text-align: center;
}

.page { 
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 100vh;
}
